* {
    margin: 0;
    padding: 0;
}

html {
    background-color:lightgrey;
    text-align: center;
}

a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.icon-recipes {
    display: inline-block;
    width: 45%;
    color: darkslategray;
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: grey;
    border: 1px solid red;
}

img {
    height: auto;
    width: 20%;
}