* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(160, 149, 149);
    --secondary-color: rgb(147, 36, 97);
}

html {
    background-color: lightgrey;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}

ul li {
    list-style-type: none;
}

/* ===============   Header =============== */

header {
    height: 80vh;
    /* height: 1000px; */
    position: relative;
    background-color: rgb(61, 57, 57);
    background-image:url(/imgs/cooking\ bg.jpg);
    /* background-position: center; */
    background-size:cover;
}

nav ul{
    /* background-color: #fff; */
    /* background-color: gray; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-list {
    padding: 15px;
    font-size: 25px;
}
.left {
    display: flex;
}

.nav-list-right {
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
}

.cart {
    margin: 10px;
    font-size: 25px;
}
.btn-nav{
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.right {
    display: flex;
    align-items: center;
}


.nav-list:hover {
    color: var(--secondary-color);
    /* text-decoration: underline; */
}

.welcome-container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(236, 236, 236);
}

.welcome-container h3 {
    color: lightgray;
}

.easy {
    font-size: 70px;
    padding: 20px;
    /* color: rgb(147, 36, 97); */
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px lightgoldenrodyellow;
}
.view-menu {
    cursor: pointer;
    border: none;
    padding: 12px;
    font-size: 18px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: lightgoldenrodyellow;
    transition: 0.3s ease-out;
}

.view-menu:hover {
    transform: scale(1.05);
    background-color: rgb(188, 49, 126);
}
/* ===============   Main Container =============== */

.container {
    /* max-width: 1500px; */
    /* margin: 0 auto; */
    background-color: rgb(192, 192, 175);
}

.title {
    font-size: 30px;
    padding: 30px;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.items-block {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.icon-recipes {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(46, 45, 45);
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    /* box-shadow: 2px 0px 10px rgb(148, 148, 147); */
    box-shadow: 2px 0px 10px rgb(107, 107, 90);
    background-color: rgb(192, 192, 175);
    margin: 20px;
    border-radius: 10px;
}

.icon-recipes:hover{
    box-shadow: 2px 0px 30px lightgoldenrodyellow;
    cursor: default;
}

.item-description{
    text-align: center;
}

.add-to-cart {
    width: auto;
    cursor: pointer;
    padding: 7px 15px;
    background-color: var(--secondary-color);
    color: rgb(243, 243, 238);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
img {
    width: 60%;
    height: auto;
}

/* ================================================= */

footer {
    background-color: rgb(61, 57, 57);
}

footer > ul {
    color: rgb(160, 149, 149);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-li {
    padding: 0 70px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer-li:hover {
    color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
}