* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(160, 149, 149);
    --secondary-color: rgb(147, 36, 97);
}

html {
    background-color: rgb(226, 226, 214);
}
a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}
/* ===============   Header =============== */

header {
    position: fixed;
    /* top: 0; */
    /* overflow: hidden; */
    width: 100%;
    box-shadow: 2px 0px 30px lightgoldenrodyellow;
}
nav ul {
    background-color: rgb(226, 226, 214);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav ul li {
    color: rgb(129, 121, 79);
}

.nav-list {
    padding: 15px;
    font-size: 25px;
    /* transition: 0.5s ease-in; */
}

.nav-list:hover {
    /* color: rgb(173, 18, 96); */
    color: rgb(236, 5, 155);
    transform: scale(1.1);
}

.left {
    display: flex;
}

.nav-list-right {
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
}

.cart {
    margin: 10px;
    font-size: 25px;
}

.btn-nav {
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.right {
    display: flex;
    align-items: center;
}

/* ===== Container menu ======= */

.container-menu {
    background-color: rgb(226, 226, 214);
    margin: 0 auto;
    max-width: 1500px;
    padding-top: 100px;
}

.title-menu {
    text-align: center;
    padding: 20px 0;
    color: rgb(236, 5, 155);
    font-family:Cambria, Cochin, Georgia;
}

.items-block {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.icon-recipes {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(46, 45, 45);
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    box-shadow: 2px 0px 10px rgb(173, 173, 146);
    background-color: rgb(226, 226, 214);
    margin: 20px;
    border-radius: 10px;
}

.icon-recipes:hover{
    box-shadow: 2px 0px 30px lightgoldenrodyellow;
    cursor: default;
}

.item-title {
    font-family: Cambria;
}
.item-description{
    text-align: center;
}

.add-to-cart {
    width: auto;
    cursor: pointer;
    padding: 7px 15px;
    background-color: var(--secondary-color);
    color: rgb(243, 243, 238);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.add-to-cart:hover{
    /* background-color: rgb(188, 49, 126); */
    background-color: rgb(236, 5, 155);;
}
img {
    width: 60%;
    height: 50%;
    /* height: auto; */
    object-fit: cover;
}

/* ================================================= */

footer {
    background-color: rgb(61, 57, 57);
}

footer > ul {
    color: rgb(160, 149, 149);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-li {
    padding: 0 70px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer-li:hover {
    /* color: var(--secondary-color); */
    color: rgb(236, 5, 155);
    cursor: pointer;
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
}